---
layout: layouts/base.njk
---

<div id="post-detail" class="page active">

    <section class="pg" style="
      background: url('{{image or metadata.image}}')
    center/cover;
    ">
      <div class="container px-4 px-lg-5 pg-content">
        <h1><a href="{{page.url}}" class="to">{{title}}</a></h1>
        <h2 class=""lead text-white">{{description}}</h2>
      </div>
    </section>

  <section>
    <div class="container px-4 px-lg-5">
      <div style="max-width: 800px; margin: 0 auto">
       {% if show_toc %}
        <div class="p-4 border-secondary shadow-sm rounded mb-3">
  <h3>{{metadata.table_of_contents}}</h3>
  {{content |toc | safe}}
</div>
{% endif %}
        <heading-anchors>
          {{ content | safe }}
        </heading-anchors>
      </div>
    </div>
  </section>
</div>
